<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Matrix-Bold.ttf</string>
		<string>Mplantin.ttf</string>
		<string>Beleren2016SmallCaps-BoldItalic.ttf</string>
		<string>Beleren2016SmallCaps-Bold.ttf</string>
		<string>Beleren2016-Bold.ttf</string>
	</array>
</dict>
</plist>
